#form_result {
  display: flex;
  flex-direction: row;
}
.Process {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.chart {
  display: flex;
  flex-direction: row;
}

.chart > div {
  height: 70px;
  justify-content: center;
  align-items: center;
}

.except tr {
  display: flex;
  justify-content: center;

  margin: 10px;
  padding: 10px;
}

.result > span {
  position: absolute;
  height: 495px;
}

tbody > div {
  justify-content: center;
}
